body {
    max-width: 1024px;
    font-family: "Arial", serif;
    color: rgb(248, 237, 203);
    margin: 0 auto;
    background-color: rgb(87, 87, 87);
}

a {
    color: rgb(248, 237, 203);
}

header {
    text-align: center;
    border-radius: 30px;
    background-color: rgba(49, 153, 223, .6);
    width: 100%;
}

figure img {
    border: 3px solid black;
    border-radius: 3px;
}

.regular-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

article {
    background-color: rgba(49, 153, 223, .6);
    border-radius: 30px;
    border: 1px dotted rgba(6, 35, 54, 0.5);
    margin: 3px;
    padding: 5px;
    text-align: center;
    transition: background-color .2s;
}

article h2:before {
    content: "";
    display: inline-block;
    width: 3vh;
    height: 3vh;
    background-size: 3vh;
    background-repeat: no-repeat;
    margin-right: 3px;
}

.name:before {
    background-image: url("img/house.png");
}

.goal:before {
    background-image: url("img/planet.png");
}

.mail:before {
    background-image: url("img/mail.png");
}

.skills:before {
    background-image: url("img/skills.png");
}

.experience:before {
    background-image: url("img/experience.png");
}

.education:before{
    background-image: url("img/education.png");
}

.english:before{
    background-image: url("img/english.png");
}

.code:before {
    background-image: url("img/gears.png");
}


article:hover{
    background-color: rgba(49, 153, 223, 1);
}

.code-pre {
    text-align: left;
}


footer {
    text-align: center;
    border-radius: 30px;
}

footer a {
    color: white;
}

.git:before {
    content: "";
    display: inline-block;
    width: 2vh;
    height: 2vh;
    background-size: 2vh;
    background-repeat: no-repeat;
    margin-right: 5px;
    background-image: url("img/git.png");
}

.blue {
    color: rgb(3, 30, 53);
}

.pink {
    color: rgb(163, 82, 156);
}

.green {
    color: rgb(7, 78, 11);
}

.yellow {
    color: rgb(223, 223, 66);
}